@model List<Product>

@{
    ViewData["Title"] = "My Wishlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-5">
    <div class="container">
        <h2 class="mb-4">My Wishlist</h2>

        @if (Model != null && Model.Any())
        {
            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
                @foreach (var product in Model)
                {
                     @Html.Partial("_ProductCard", product)
                }
            </div>
        }
        else
        {
            <div class="alert alert-info mt-5 text-center">
                <h5>Your wishlist is empty 😔</h5>
                <p>Start browsing and add some products to your wishlist!</p>
                <a href="/" class="btn btn-primary">Continue Shopping</a>
            </div>
        }
    </div>
</section>
